@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #555;
}

.cabecalho {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cabecalho h1 {
    margin: 0;
    font-size: 3rem;
}

.cabecalho strong {
    color: #1CDE66;
}

.cabecalho__links {
    margin-top: 20px;
}

.cabecalho__links a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.2rem;
    font-size: 2rem;
}

.conteudo {
    padding: 20px;
}

.conteudo__mensagem {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.formulario input[type="text"],
.formulario select {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.formulario button:hover {
    background-color: #555;
}

#resultado {
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

section {
    margin-top: 20px;
    margin-bottom: 50px;
}

section h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    color: #ffffff;
    line-height: 1.6;
}


.rodape {
    background-color: #1CDE66;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
